@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import '../node_modules/materialize-css/dist/css/materialize.css';

body {
  background-color: lightgray;
  /*background-image: url('http://img.freepik.com/free-vector/gingham-style-background_1048-2586.jpg?size=338&ext=jpg');*/
}

.PatientsComponent {
  width: 100%;
  padding: 60px;
  height: 100%;
  padding-bottom: 150px;
  /*margin: 80px auto 100px;*/
  /*background-image: url('https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0354/6125/r0_christmas_green_gingham2_shop_preview.png');*/
}

.RxItemComponent {
  margin-left: 20px;
}

.RxComponent {
  margin-bottom: 200px;
}
